
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146433201-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146433201-1');

</script>
</head>


<link rel="stylesheet" href="/assets/highlight/styles/default.css">

<script src="/assets/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<title>UCD Bioinformatics Core Workshop</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.png' | relative_url }}">

<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <link rel="icon" type="image/png"  href="{{ '/assets/img/favicon.png' | relative_url }}">
        <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

        <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">

<body>
    <div style="background-color: #001A46" class="header sticky" id="myHeader" style="width:100%;">
      <a href="https://bioinformatics.ucdavis.edu/training/" class="logo">
          <img src="{{ '/assets/img/biocore_banner.png' | relative_url }}">
      </a>
        <div>
            <h2 style="float: left;padding-left:10px;padding-top:8px;background-color:#CFB53B; cursor:pointer;">
                <div onclick="doNav()">&#9776; Menu </div>
            </h2>
            <h2 style="border-radius: 0px;padding-top:10px;background-color:#CFB53B;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ site.title | default: site.github.repository_name }}</h2>
        </div>
    </div>
</body>


<div>
    <div id="mySidenav" class="sidenav">
        <table style="padding-top: 50px">
            {% for nav in site.navigation %}
                {% if nav.heading %}
                  <th style="font-size:22px; color:#CFB53B">{{ nav.heading }}</th>
                  {% continue %}
                {% endif %}
                {% if nav.url contains "://" %}
                  <tr id={{nav.title}} ><th><a href="{{ nav.url }}">{{ nav.title }}</a></th></tr>
                {% else %}
                  <tr><th><a href="{{ nav.url | relative_url }}">{{ nav.title }}</a></th></tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>


<div id="main" style="padding-left: 50px; padding-right: 50px; margin-left: 300px; padding-top:170px">

{{ content }}

</div>



<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

<script>
var navopen=1;

function doNav() {
  if (navopen == 1) {
    document.getElementById("mySidenav").style.width = "0px";
    document.getElementById("main").style.marginLeft = "0px";
    document.getElementById("myHeader").style.marginLeft = "0px";
    document.getElementById("mySidenav").style.overflowY = "hidden";
    navopen = 0;
  } else {
    document.getElementById("mySidenav").style.width = "300px";
    document.getElementById("main").style.marginLeft = "300px";
    document.getElementById("myHeader").style.marginLeft = "300px";
    document.getElementById("mySidenav").style.overflowY = "visible";
    navopen = 1;
  }
}

// store the sidenav scroll pos for loading or set the pos
sn = document.getElementById("mySidenav");
sn.onscroll = function() {sessionStorage.setItem("scrollpos",sn.scrollTop);};
window.onload = function() {sn.scrollTop = sessionStorage.getItem("scrollpos");};

// Get the header
var header = document.getElementById("myHeader");

// Get the offset position of the navbar
var sticky = header.offsetTop;

</script>
